/*//////////////////////////// header content section ////////////////////*/

.header-content-about {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-image: url("../../../img/about/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.header-content-about h3 {
  font-size: 4.6rem;
}

.header-content-about h4 {
  color: white;
}

/*//////////////////////////// main content section ////////////////////*/

.main-content {
  justify-content: center;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 20px;
}
.info-container {
  margin: 0 auto;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 600px;
}
.info-container h3 {
  margin: 15px 0;
  color: black;
}
.info-container h4:first-child {
  margin-top: 15px;
}
.contact-info-container .contact {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
}
.contact-info-container img {
  width: 15px;
  height: 15px;
  margin-right: 8px;
}
.map-container {
}
.map-container iframe {
  margin-top: 20px;

  width: 600px;
  height: 450px;
}

/*//////////////////////////// contact content section ////////////////////*/

.contact-content {
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 15px;
  border: 2px solid var(--grey-casa);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1250px;
  min-width: 300px;
  height: auto;
}
.contact-content h3 {
  color: black;
}
.form-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  min-width: 300px;

  height: auto;
}

.form-container form {
  display: flex;
  flex-direction: column;
}
.form-container input {
  font-size: 2rem;
  font-family: "League Spartan", sans-serif;
  width: 100%;
  margin: 10px 0;
  height: 30px;
}
.form-container input:nth-child(6) {
  height: 200px;
  vertical-align: top; /* Alineación vertical desde arriba */
  line-height: normal; /* Asegura una alineación adecuada del texto */
  overflow: hidden;
  align-items: start;
}
.form-container form input:last-child {
  border-radius: 5px;
  font-family: "League Spartan", sans-serif;
  background-color: #088178;
  color: white;
  width: 19%;
  border: none;
  height: 50px;
  width: 130px;
}
.form-container form:only-child {
  margin: 20px 0;
}

.employees {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  padding: 15px;
}
.employee {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
}
.employee div:nth-child(1) {
  margin-top: 20px;
}
.employee div:nth-child(2) h4 {
  margin: 10px 0;
}
.employees img {
  margin-right: 10px;
  width: 80px;
  height: 80px;
}
/* ////////////////////cart products container section////////////////// */

.products-container {
  font-size: 1.5rem;
  text-align: center;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: scroll;
}

.info-products-container {
  margin-top: 20px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.info-products-container div,
.cart-product div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
}
.info-products-container .product,
.info-products-container .image,
.cart-product .product,
.cart-product .image {
  width: 300px;
}

@media (max-width: 765px) {
  .map-container iframe {
    width: auto;
  }
}
