<div class="benefits-card-container">
  <div class="benefits-card">
    <img
      src="https://brunoosuna8.github.io/casa/img/features/f1.png"
      alt="free-shipping"
    />
    <div class="benefits-title">Free Shipping</div>
  </div>

  <div class="benefits-card">
    <img
      src="https://brunoosuna8.github.io/casa/img/features/f2.png"
      alt="online-order"
    />
    <div class="benefits-title">Online Order</div>
  </div>

  <div class="benefits-card">
    <img
      src="https://brunoosuna8.github.io/casa/img/features/f3.png"
      alt="save-money"
    />
    <div class="benefits-title">Save money</div>
  </div>

  <div class="benefits-card">
    <img
      src="https://brunoosuna8.github.io/casa/img/features/f4.png"
      alt="promotions"
    />
    <div class="benefits-title">Promotions</div>
  </div>

  <div class="benefits-card">
    <img
      src="https://brunoosuna8.github.io/casa/img/features/f5.png"
      alt="happy-sell"
    />
    <div class="benefits-title">Happy Sell</div>
  </div>

  <div class="benefits-card">
    <img
      src="https://brunoosuna8.github.io/casa/img/features/f6.png"
      alt="f24/7-support"
    />
    <div class="benefits-title">F24/7 Support</div>
  </div>
</div>
