
    <section class="header-content">
        <div class="page-header">
            <h3>#readmore</h3>
            <h4>Read all case studies about our products!</h4>
        </div>
        
    </section>
    <section class="main-content">
        <div class="blog-container">
            <div class="blog">
                <div class="img-container">
                    <h2>13/01</h2>
                    <img src="https://brunoosuna8.github.io/casa/img/blog/b1.jpg" alt="blog-photo">
                </div>
                <div class="text-content">
                    <h3>The Cotton-Jersey Zip-Up Hoodie</h3>
                        <h4 >Kickstarter man braid godard coloring book. Raclette waistcoat selfies yr worlf chartreuse hexagon irony.godard...</h4>
                        <button>CONTINUE READING ━━━━</button>
                </div>
                
            </div>
            <div class="blog">
                <div class="img-container">
                    <h2>13/04</h2>
                    <img src="https://brunoosuna8.github.io/casa/img/blog/b2.jpg" alt="blog-photo">
                </div>
                <div class="text-content">
                    <h3>how to Style a Quiff</h3>
                    <h4>Kickstarter man braid godard coloring book. Raclette waistcoat selfies yr worlf chartreuse hexagon irony.godard...</h4>
                    <button>CONTINUE READING ━━━━</button>
                </div>
                
            </div>
            <div class="blog">
                <div class="img-container">
                    <h2>12/01</h2>
                    <img src="https://brunoosuna8.github.io/casa/img/blog/b3.jpg" alt="blog-photo">
                </div>
                <div class="text-content">
                    <h3>Must-Have Skater Girl Items</h3>
                    <h4>Kickstarter man braid godard coloring book. Raclette waistcoat selfies yr worlf chartreuse hexagon irony.godard...</h4>
                    <button>CONTINUE READING ━━━━</button>
                </div>
                
            </div>
            <div class="blog">
                <div class="img-container">
                    <h2>16/01</h2>
                    <img src="https://brunoosuna8.github.io/casa/img/blog/b4.jpg" alt="blog-photo">
                </div>
                <div class="text-content">
                    <h3>Runway-Inspired Trends</h3>
                    <h4>Kickstarter man braid godard coloring book. Raclette waistcoat selfies yr worlf chartreuse hexagon irony.godard...</h4>
                    <button>CONTINUE READING ━━━━</button>
                </div>
                
            </div>
            <div class="blog">
                <div class="img-container">
                    <h2>10/03</h2>
                    <img src="https://brunoosuna8.github.io/casa/img/blog/b6.jpg" alt="blog-photo">
                </div>
                <div class="text-content">
                    <h3>AW20 Menswear Trends</h3>
                    <h4>Kickstarter man braid godard coloring book. Raclette waistcoat selfies yr worlf chartreuse hexagon irony.godard...</h4>
                    <button>CONTINUE READING ━━━━</button>
                </div>
                
            </div>
            

        </div>
    </section>
    <section class="newsletter">
        <div>
            <h3>Sign Up For Newsletters</h3>
            <h4>Get E-mail updates about our latest shop and <span>special offers</span>.</h4>
        </div>
        <form >
            <input type="email" placeholder="  Your email address">
            <button class="green-button">Sign Up</button>
        </form>

    </section>
    
    
