/*//////////////////////////// main content section ////////////////////*/
main {
  width: 100%;
  height: auto;
  min-width: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-image: url("../../../img/banner/b19.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.page-header h3 {
  color: white;
}
.page-header h4 {
  color: white;
  font-weight: 300;
}
.main-content {
  box-shadow: 0 0 20px 24px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.main-content h2,
h4 {
  color: #c3c3c3;
}
.main-content h4 {
  font-weight: 500;
}
.blog-container {
  padding: 10px;
  width: 100%;
  height: auto;
}

.blog-container * {
}
.blog > * {
  margin: 20px 0;
}
.blog * {
}
.text-content * {
  margin: 20px 0;
}

.img-container {
  position: relative;
  padding: 45px 0;
}
.img-container h2 {
  top: 6px;
  position: absolute;
  z-index: 1;
}
.img-container img {
  position: relative;
  aspect-ratio: 4/4;
  object-fit: cover;
  width: 100%;
  max-height: 600px;
  max-width: 800px;
  z-index: 2;
  height: auto;
}

.blog button {
  width: 200px;
  text-decoration: none;
  border: none;
  background-color: white;
  font-family: "League Spartan", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}
.blog button:hover {
  cursor: pointer;
  color: var(--green);
}
/* main-content about section */

.header-content-about {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-image: url("../../../img/about/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.header-content-about h4 {
  color: white;
}
.main-content-about {
  width: 100%;
  height: auto;
  max-width: 1300px;
  min-width: 300px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 300px;
  margin: 0 auto;
}

.main-content-about-img-container {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}
.main-content-about-img-container img {
  width: 100%;
  height: auto;
}
.info-container {
  padding: 20px;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 600px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.info-container h4,
abbr,
marquee {
  font-size: 2.5rem;
  margin: 20px 0;
}
.info-container h4 {
  font-weight: 400;
}

/*video section*/
.video {
  text-align: center;
}
.video video {
  border-radius: 40px;
  width: 100%;
  max-height: 600px;
  max-width: 800px;
}
.video h3 {
  color: black;
}
.video h3,
video {
  padding: 15px;
}

/*feature section*/
.text-content h3 {
  color: black;
}
.feature {
  min-width: 320px;
  min-width: 100%;
  width: 100%;
  /* height: 150vh; */
  display: flex;
  flex-direction: column;
}

/* ////////////////////news letter section////////////////// */
.newsletter {
  width: 100%;
  height: 150px;
  background-color: #051732;
  background-image: url("../../../img/banner/b14.png");
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.newsletter h3 {
  color: white;
  font-size: 2.8rem;
}
.newsletter h4 {
  color: #a5a7a9;
  font-weight: 300;
}
.newsletter span {
  color: #d7a44c;
}

.newsletter form {
  height: 40px;
  width: 500px;
}
.newsletter input {
  border-radius: 5px;
  height: 100%;
  width: 80%;
}
.newsletter button {
  border-radius: 5px;
  font-family: "League Spartan", sans-serif;
  background-color: #088178;
  color: white;
  height: 100%;
  width: 19%;
  border: none;
}

/*////////////////footer section ///////////////////*/

footer {
  width: 100%;
  min-width: 320px;
  height: 550px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 2rem;
  line-height: 40px;
}
footer a {
  text-decoration: none;
  color: #000000;
}
footer div:nth-child(1) img {
  width: 180px;
}
footer div {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.mobile-store:nth-child(1) a {
  margin: 10px;
  width: 70%;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid var(--green);
  border-radius: 5px;
  background-image: url("../../../img/pay/app.jpg");
}
.mobile-store:nth-child(2) a {
  margin: 10px;

  background-size: cover;
  background-repeat: no-repeat;
  width: 70%;
  height: 50px;
  border-radius: 5px;
  border: 2px solid var(--green);
  background-image: url("../../../img/pay/play.jpg");
}
.pay-methods {
  height: 50px;
  width: 100%;
  background-image: url("../../../img/pay/pay.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 1024px) {
  .main-content {
    max-width: 1300px;
  }
  .blog h3 {
    font-size: 3rem;
  }
  .blog {
    display: flex;
    flex-direction: row;
  }
  .blog .text-content {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .img-container img {
    aspect-ratio: 4/3;
  }
}
